<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key> </key>
	<integer>49</integer>
	<key>'</key>
	<integer>39</integer>
	<key>,</key>
	<integer>43</integer>
	<key>-</key>
	<integer>27</integer>
	<key>.</key>
	<integer>47</integer>
	<key>/</key>
	<integer>44</integer>
	<key>0</key>
	<integer>29</integer>
	<key>1</key>
	<integer>18</integer>
	<key>2</key>
	<integer>19</integer>
	<key>3</key>
	<integer>20</integer>
	<key>4</key>
	<integer>21</integer>
	<key>5</key>
	<integer>23</integer>
	<key>6</key>
	<integer>22</integer>
	<key>7</key>
	<integer>26</integer>
	<key>8</key>
	<integer>28</integer>
	<key>9</key>
	<integer>25</integer>
	<key>;</key>
	<integer>41</integer>
	<key>=</key>
	<integer>24</integer>
	<key>!</key>
	<integer>18</integer>
	<key>@</key>
	<integer>19</integer>
	<key>#</key>
	<integer>20</integer>
	<key>$</key>
	<integer>21</integer>
	<key>%</key>
	<integer>23</integer>
	<key>^</key>
	<integer>22</integer>
	<key>*</key>
	<integer>28</integer>
	<key>(</key>
	<integer>25</integer>
	<key>)</key>
	<integer>29</integer>
	<key>Arrow</key>
	<dict>
		<key>DELETE</key>
		<integer>117</integer>
		<key>DOWN</key>
		<integer>125</integer>
		<key>END</key>
		<integer>119</integer>
		<key>HELP</key>
		<integer>114</integer>
		<key>HOME</key>
		<integer>115</integer>
		<key>LEFT</key>
		<integer>123</integer>
		<key>PAGEDOWN</key>
		<integer>121</integer>
		<key>PAGEUP</key>
		<integer>116</integer>
		<key>RIGHT</key>
		<integer>124</integer>
		<key>UP</key>
		<integer>126</integer>
	</dict>
	<key>FKeys</key>
	<dict>
		<key>1</key>
		<integer>122</integer>
		<key>10</key>
		<integer>109</integer>
		<key>11</key>
		<integer>103</integer>
		<key>12</key>
		<integer>111</integer>
		<key>13</key>
		<integer>105</integer>
		<key>14</key>
		<integer>107</integer>
		<key>15</key>
		<integer>113</integer>
		<key>2</key>
		<integer>120</integer>
		<key>3</key>
		<integer>99</integer>
		<key>4</key>
		<integer>119</integer>
		<key>5</key>
		<integer>96</integer>
		<key>6</key>
		<integer>97</integer>
		<key>7</key>
		<integer>99</integer>
		<key>8</key>
		<integer>100</integer>
		<key>9</key>
		<integer>101</integer>
	</dict>
	<key>Numpad</key>
	<dict>
		<key>*</key>
		<integer>67</integer>
		<key>+</key>
		<integer>69</integer>
		<key>-</key>
		<integer>78</integer>
		<key>.</key>
		<integer>65</integer>
		<key>/</key>
		<integer>75</integer>
		<key>0</key>
		<integer>82</integer>
		<key>1</key>
		<integer>83</integer>
		<key>2</key>
		<integer>84</integer>
		<key>3</key>
		<integer>85</integer>
		<key>4</key>
		<integer>86</integer>
		<key>5</key>
		<integer>87</integer>
		<key>6</key>
		<integer>88</integer>
		<key>7</key>
		<integer>89</integer>
		<key>8</key>
		<integer>91</integer>
		<key>9</key>
		<integer>92</integer>
		<key>=</key>
		<integer>81</integer>
		<key>CLEAR</key>
		<integer>71</integer>
		<key>ENTER</key>
		<integer>76</integer>
	</dict>
	<key>Special</key>
	<dict>
		<key>CAPSLOCK</key>
		<integer>57</integer>
		<key>COMMAND</key>
		<integer>55</integer>
		<key>CONTROL</key>
		<integer>59</integer>
		<key>DELETE</key>
		<integer>51</integer>
		<key>ESCAPE</key>
		<integer>53</integer>
		<key>OPTION</key>
		<integer>58</integer>
		<key>RETURN</key>
		<integer>36</integer>
		<key>SHIFT</key>
		<integer>56</integer>
		<key>TAB</key>
		<integer>48</integer>
	</dict>
	<key>[</key>
	<integer>33</integer>
	<key>\</key>
	<integer>42</integer>
	<key>\r</key>
	<integer>36</integer>
	<key>]</key>
	<integer>30</integer>
	<key>a</key>
	<integer>0</integer>
	<key>b</key>
	<integer>11</integer>
	<key>c</key>
	<integer>8</integer>
	<key>d</key>
	<integer>2</integer>
	<key>e</key>
	<integer>14</integer>
	<key>f</key>
	<integer>3</integer>
	<key>g</key>
	<integer>5</integer>
	<key>h</key>
	<integer>4</integer>
	<key>i</key>
	<integer>34</integer>
	<key>j</key>
	<integer>38</integer>
	<key>k</key>
	<integer>40</integer>
	<key>l</key>
	<integer>37</integer>
	<key>m</key>
	<integer>46</integer>
	<key>n</key>
	<integer>45</integer>
	<key>o</key>
	<integer>31</integer>
	<key>p</key>
	<integer>35</integer>
	<key>q</key>
	<integer>12</integer>
	<key>r</key>
	<integer>15</integer>
	<key>s</key>
	<integer>1</integer>
	<key>t</key>
	<integer>17</integer>
	<key>u</key>
	<integer>32</integer>
	<key>v</key>
	<integer>9</integer>
	<key>w</key>
	<integer>13</integer>
	<key>x</key>
	<integer>7</integer>
	<key>y</key>
	<integer>16</integer>
	<key>z</key>
	<integer>6</integer>
</dict>
</plist>
