<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>http://pg.savorydeviate.com/appcast.xml</string>
	<key>SUEnableSystemProfiling</key>
	<string>YES</string>
	<key>SUEnableAutomaticChecks</key>
	<string>YES</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>routecollection</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>pgRoute</string>
			<key>CFBundleTypeName</key>
			<string>Route Collection</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>RouteCollection</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>combatProfile</string>
				<string>combatprofile</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>pgBehavior</string>
			<key>CFBundleTypeName</key>
			<string>Combat Profile</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CombatProfile</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>route</string>
				<string>routeset</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>pgRoute</string>
			<key>CFBundleTypeName</key>
			<string>Route</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>RouteSet</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>behavior</string>
				<string>behaviorset</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>pgBehavior</string>
			<key>CFBundleTypeName</key>
			<string>Behavior</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>Behavior</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pvpbehavior</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>pgBehavior</string>
			<key>CFBundleTypeName</key>
			<string>PvP Behavior</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>PvPBehavior</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mailprofile</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>pgBehavior</string>
			<key>CFBundleTypeName</key>
			<string>Mail Profile</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>MailActionProfile</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>${PRODUCT_NAME} 1.5.1</string>
	<key>CFBundleIconFile</key>
	<string>gnome2</string>
	<key>CFBundleIdentifier</key>
	<string>com.savorydeviate.PocketGnome</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5.1 (r566)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>566</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.5</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NoAccessApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.savorydeviate.PocketGnome</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>routes</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
